*.pyc
.ipynb_checkpoints

temp_results\.json
temp_inspect\.json

week2c
week3c
week4c
week5c

temp_completion_log

*.bak
*.dbf
*.prj
*.shp
*.shx
*.zip

venv/
.vscode/

maps/NSW_LOCALITY_POLYGON_shp
temp.py
course/
ben_is_cool.lol_UR_joking
under_the_patio.json
